::-webkit-scrollbar {height:12px;width: 2px;background: rgb(76, 133, 98);}
::-webkit-scrollbar-thumb {background-color: #22313F;-moz-border-radius: 10px;border-radius: 10px;}

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(css/icons.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 35px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }

.modal-backdrop {
    z-index: 1;
}

nav {
    background-color: #35495e;
}

element.style {
    padding-right: none;
}

.banner {
    background-image: url(img/banner12.jpg);
    height: auto;
    width: 100%;
    background-position: cover;
    background-attachment:fixed;
    background-size: cover;
    padding-bottom: 80px;
}

.banner-html {
    background-image: url(img/banner10.jpg);
    height: 500px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.banner-css {
    background-image: url(img/bcss.jpg);
    height: 500px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.banner-nodejs {
    background-image: url(img/bnodejs.jpg);
    height: 500px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.banner-vuejs {
    background-image: url(img/bvuejs.jpg);
    height: 500px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.navbar-brand {
    color: #fff !important;
}

.nav-item a {
    color: #fff !important;
    font-weight: bold;
}

li.nav-item {
    margin-right: 10px;
}

.nav-item a.btn-primary:hover {
    box-shadow: 0px 0px 10px #41755e; !important;
}

.slogan {
    margin-top: 90px;
    font-weight: bold;
    font-size: 40px;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
}

.slogan-html {
    margin-top: 200px;
    font-weight: bold;
    font-size: 40px;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
}

.slogan-css {
    margin-top: 200px;
    font-weight: bold;
    font-size: 40px;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
}

.slogan-nodejs {
    margin-top: 200px;
    font-weight: bold;
    font-size: 40px;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
}

.slogan-vuejs {
    margin-top: 200px;
    font-weight: bold;
    font-size: 40px;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
}

.quote {
    padding-top: 15px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-shadow: 1px 1px 3px #000;

}

.navbar .btn-primary {
    padding: 4px 15px;
    line-height: 30px;
    margin-top: 1px;
    background-color: #42b883;
    border: none;

}

.navbar . .btn-primary a:hover {
    box-shadow: 10px 1px 5px #53687e !important;
}

.caution {
    margin-top: 40px;
}

.caution .card {
    margin-top: 15px;
    text-shadow: 1px 1px 1px #35495e;
    background: linear-gradient(45deg, #42b883, #35495e, #41755e, #53687e);
    background-size: 500% 500%;
    color: #fff;
    -webkit-animation: ignielGradient 12s ease infinite;
    -moz-animation: ignielGradient 12s ease infinite;
    animation: ignielGradient 12s ease infinite;
    transition: .4s transform;
}
@-webkit-keyframes ignielGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes ignielGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes ignielGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.caution .card:hover {
    transform: scale(1.05);
}

i {
    padding-top: 3px;
}

.dropdown-menu {
     background-color: #22313F;
}

.dropdown-menu  a:hover{
    background-color: #22313F;
}

.modal-header i {
    margin-top: -5px;
    margin-right: 10px;
    color: rgb(184, 59, 59);
}

.modal-body .btn-primary {
    background-color: #42b883;
    font-weight: bold;
} 

.caution a{
    text-decoration: none;
}

@media (min-width: 576px){
.modal-dialog {
    max-width: 350px;
}
}

.not-active {
    cursor: not-allowed;
}

.color-playlist {
    background-color: #35495e;
}

.accordion {
    margin-top: 35px;
    margin-bottom: 35px;
    background-color: #42b883;
    border-radius: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.accordion .btn-link {
    color: #35495e;
    font-weight: 700;
}

.accordion .card {
    background-color: #42b883;
}

.accordion .card-header {
    background-color: #42b883;
}

.accordion .card-body {
    background-color: #fff;
    padding: 10%;
}

.judul-desc {
    margin-top: 50px;
    margin-bottom: 40px;
}

.list-fitur img {
    width: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-color {
    background-color: #22313F;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
}

.footer-color h6 {
    color: #fff;
    margin-bottom: 15px;
}

.footer-color i {
    color: #fff;
    margin-bottom: 5px;
}

.footer-color a {
    color: #94a4a5;
    text-decoration: none;
}

.footer-color a:hover {
    color: #fff;
    text-decoration: none;
}

.foot-bag-two {
    margin-top: 17px;
}

.foot-bag-two h6 {
    padding-top: 3px;
}

.foot-bag-two a {
    color: #42b883;
    text-decoration: none;
}

.iconsos i {
    margin-right: 20px;
    font-size: 20px;
}

.copyright {
    font-weight: lighter;
    font-size: 13px;
}
